# Build
cpp-core/build/

# Data lớn
data/samples/*.tif
data/samples/*.tiff

# Env
.env

# IDE
.vscode/
.idea/
*.swp

# Docker volumes
volumes/

# Node
frontend/node_modules/
cpp-core/models/*.onnx
cpp-core/models/*.onnx.data
cpp-core/models/*.pt
cpp-core/models/segformer-loveda-b2/
cpp-core/models/sentinel2-unet/
/yolo*.onnx
/yolo*.pt
